<div>
  <div>
    <!-- Navigation bar -->
    <!-- Navigation bar -->

    <nav
    class="navbar navbar-expand-lg navbar-dark"
    style="background-color: #dc3545"
    >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Recipies</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/recipe/list"
              >Books</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/ingredient/list">Ingredients</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>
    <div class = "selected-recipe rounded" *ngIf="selected">
      <app-recipe-detail [recipeDetail]="selectedRecipe"></app-recipe-detail>
    </div>
    <table>
      <thead>
        <tr>
          <th>Receta</th>
          <th>Imagen</th>
          <th>Porciones</th>
          <th>Tiempo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recipe of recipes" (click)="onSelect(recipe)">
          <td>{{ recipe.nombre }}</td>
          <td>
            <img
              class="recipe-img"
              [src]="recipe.imagen"
              alt="{{ recipe.imagen }}"
            />
          </td>
          <td>{{ recipe.porciones }}</td>
          <td>{{ recipe.tiempo_minutos }} min</td>
        </tr>
      </tbody>
    </table>
  </div>z
</div>
