<div class="recipe-detail">
  <h2>{{ recipeDetail.nombre }}</h2>
  <img
    class="recipe-detail-img"
    [src]="recipeDetail.imagen"
    alt="{{ recipeDetail.imagen }}"
  />
  <p><strong>Porciones:</strong> {{ recipeDetail.porciones }}</p>
  <p><strong>Tiempo:</strong> {{ recipeDetail.tiempo_minutos }} min</p>
  <dt>INgredients</dt>
       <dd class="caption" *ngFor="let ingredient of recipeDetail.ingredients">
         <a routerLink="/ingredient/{{ ingredient.nombre }}">{{ ingredient.cantidad }}</a>
       </dd>

  <h3>Pasos</h3>
  <ol>
    <li *ngFor="let step of recipeDetail.pasos">
      {{ step }}
    </li>
  </ol>
</div>
